option_settings:
    aws:autoscaling:launchconfiguration:
        IamInstanceProfile: aws-elasticbeanstalk-ec2-role
        InstanceType: t3.micro
        EC2KeyName: smagidson
    aws:autoscaling:asg:
        MinSize: 1
        MaxSize: 1
    aws:elasticbeanstalk:container:python:
        WSGIPath: config/wsgi.py
