option_settings:
  aws:elasticbeanstalk:application:environment:
    RUNNING_ON_AWS: True
    DJANGO_SETTINGS_MODULE: config.settings
    DJANGO_DEBUG: False
    GB_APP_DB_HOST: gb-sequence-search.cbeagb7y9sjb.us-east-1.rds.amazonaws.com
    GB_APP_DB_USER: gb_app_user
    GB_DJANGO_ALLOWED_HOST: smagidson-gb-sequence-search.us-east-1.elasticbeanstalk.com
    GB_CORS_VALUE: http://smagidson-gb-app.s3-website-us-east-1\.amazonaws\.com.*